.image1{
    width: 1800x;
    height: 800px;
    margin-left: 50px;
}
.bigimg{
    width: 1790px;
    height: 800px;
}
.dat1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(+0%, -50%);
    font-size: 50px;
    justify-content: end;
  }
  .search{
   margin-left: 800px;
  }
  .image2{
    margin-top: 50px;
    margin-left: 70px;
    border-radius: 10px;
  }
  .dat2{
    position: absolute;
    transform: translate(+0%, -50%);
    font-size: 50px;
    justify-content: flex-start;
    margin-left: 880px;
    margin-top: -350px;
  }
  .discoverbutton{
    border: none;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
margin-bottom: 250px;
  margin-left: 500px;
  }

  .whole{
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/984/861/original/abstract-blue-geometric-circles-overlapping-background-with-light-blue-free-vector.jpg');
  }